body {
  background-color: #cdcdcd; }

.main-content {
  width: 1000px;
  margin: 0 auto; }
  .main-content .product-wrapper {
    padding: 10px; }
    .main-content .product-wrapper .product-item {
      padding: 5px 10px;
      text-align: center;
      background-color: white;
      border-radius: 5px; }
      .main-content .product-wrapper .product-item img {
        width: 200px;
        margin-bottom: 15px; }
      .main-content .product-wrapper .product-item .badge {
        background-color: #9bd9f8; }
  .main-content:after {
    content: "";
    display: block;
    clear: both; }

.modal-dialog .modal-body {
  text-align: center; }

.product-details {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px; }
  .product-details .product-img {
    margin: 0 auto; }
